<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Receipt</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: white;
      color: black;
      display: flex;
      justify-content: center;
    }
    .receipt-container {
      width: 80mm; /* Standard receipt width */
      padding: 5mm;
      background-color: white;
      color: black;
    }
    @media print {
      body {
        width: 80mm;
      }
      .receipt-container {
        width: 100%;
      }
    }
  </style>
</head>
<body>
  <div class="receipt-container" id="receipt-content">
    <!-- SVG content will be inserted here -->
  </div>

  <script>
    // This script will be used if direct SVG insertion is needed
    window.insertReceiptSvg = function(svg) {
      document.getElementById('receipt-content').innerHTML = svg;
    };
  </script>
</body>
</html> 